/* các style liên quan đến input form button được sử dụng ở các component */
/* css lại style từ ui của thư viện */


/* duong ke ngang */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  color: #94a3b8;
  font-size: 0.875rem;
}