/* style icon */
.icon-24 {
    width: 24px; 
    height: 24px;
    min-width: 24px;
    background-color: #707070;
    mask-image: url("../../assets/icons/ICON.svg");
    mask-repeat: no-repeat;
}

.icon-20 {
    width: 20px; 
    height:20px;
    min-width: 20px;
    background-color: #707070;
    mask-image: url("../../assets/icons/ICON.svg");
    mask-repeat: no-repeat;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;  
    height: 36px; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.icon-setting{
    mask-position: -48px -120px;
}

.icon-upload-img{
    mask-position: -24px -144px;
}
.icon-X{
    mask-position: -280px 0px;
}
.icon-back{
    mask-position: -158px -1px;
}
.icon-info{
    mask-position: -260px -40px;
}
.icon-notification  {
    mask-position: -72px -120px;
}
.icon-error  {
    mask-position: -240px -40px;
}
.icon-success  {
    mask-position: -180px -40px;
}
.icon-warning  {
    mask-position: -260px -40px;
}
.icon-up  {
    mask-position: -260px -40px;
}
.icon-down {
    mask-position: -260px -40px;
}
.icon-email  {
    mask-position: -80px -40px;
}
.icon-password  {
    mask-position: -20px -20px;
}
.icon-user {
    mask-position: -60px -40px;
}
.icon-otp {
    mask-position: -146px -122px;
}
.icon-ai {
    mask-position: -218px -122px;
}
.icon-home {
    mask-position: -140px -22px;
}
.icon-lock {
    mask-position: 2px 0px;
}
.icon-explore {
    mask-position: -50px -171px;
}
.icon-topic-tags {
    mask-position: -74px -170px;
}